<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Old</th>
        <th>Memo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in results">
        <td>{{result.name}}</td>
        <td>{{result.age}}</td>
        <td>{{result.memo}}</td>
        <td class="text-right">
          <button class="btn" ng-click="doDelete($index)"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
      </tr>
      <tr>
        <td><input type="text" class="form-control" ng-model="new_name"></td>
        <td><input type="text" class="form-control" ng-model="new_age"></td>
        <td><input type="text" class="form-control" ng-model="new_memo"></td>
        <td class="text-right">
          <button class="btn" ng-click="doPost()"><i class="glyphicon glyphicon-plus"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
